<div id="panel-link-recovery" class="secondary-panel">
  <div class="secondary-panel-header">
    <h2>建链复链 - 详细参数</h2>
    <span class="secondary-panel-close">&times;</span>
  </div>
  <div class="secondary-panel-body">

    <fieldset class="form-fieldset">
      <legend>Input</legend>
      <div class="form-grid-inputs">
        <label for="p-mux">muX</label>
        <input type="number" id="p-mux" value="0">

        <label for="p-muy">muY</label>
        <input type="number" id="p-muy" value="0">

        <label for="p-sigmax">sigmaX</label>
        <input type="number" id="p-sigmax" value="333">

        <label for="p-sigmay">sigmaY</label>
        <input type="number" id="p-sigmay" value="150">

        <label for="p-alpha">alpha</label>
        <input type="number" id="p-alpha" value="0.6">

        <label for="p-tdwell">Tdwell</label>
        <input type="number" id="p-tdwell" value="0.01">

        <label for="p-sigman">sigmaN</label>
        <input type="number" id="p-sigman" value="30">

        <label for="p-bs">Bs</label>
        <input type="number" id="p-bs" value="60">

        <label for="cpa-resistance">电阻</label>
        <input type="number" id="cpa-resistance" value="0">

        <label for="cpa-inductance">电感量</label>
        <input type="number" id="cpa-inductance" value="0">
        <label for="cpa-back-emf">反电动势系数</label>
        <input type="number" id="cpa-back-emf" value="0">
        <label for="cpa-torque">转矩系数</label>
        <input type="number" id="cpa-torque" value="0">
        <label for="cpa-ti">T_i</label>
        <input type="number" id="cpa-ti" value="0">

        <label for="p-file-path">跟踪文件路径</label>
        <input type="text" id="p-file-path" placeholder="请输入文件路径...">

        <label for="fpa-time-const">一阶时间常数</label>
        <input type="number" id="fpa-time-const" value="0">

        <label for="fpa-frequency">二阶固有频率</label>
        <input type="number" id="fpa-frequency" value="0">

        <label for="fpa-damping">阻尼比</label>
        <input type="number" id="fpa-damping" value="0">

        <label for="fpa-inertia">转动惯量</label>
        <input type="number" id="fpa-inertia" value="0">





        <button class="btn-save">开始仿真</button>

      </div>
    </fieldset>

    <fieldset class="form-fieldset">
      <legend>Output</legend>
      <div class="form-grid-inputs">
        <label for="o-cp">Cp</label>
        <input type="number" id="o-cp" value="91.85">

        <label for="o-ct">Ct</label>
        <input type="number" id="o-ct" value="6.87" >

        <label for="o-xc">Xc</label>
        <input type="number" id="o-xc" value="0.67" >

        <label for="o-yc">Yc</label>
        <input type="number" id="o-yc" value="-0.43" >

      </div>
    </fieldset>

    <div class="panel panel-stk">
      <h2 class="panel-title">扫描路径仿真</h2>
      <div class="panel-content">
        <div class="placeholder">
          <img src="/img/scan3.png" alt="scan" style="width: 100%; height: 100%; object-fit: contain;">
        </div>
      </div>
    </div>

    <div class="panel panel-stk">
      <h2 class="panel-title">CMOS光斑</h2>
      <div class="panel-content">
        <div class="placeholder">
          <img src="/img/cmos.gif" alt="cmos" style="width: 100%; height: 100%; object-fit: contain;">
        </div>
      </div>
    </div>

    <div class="panel panel-stk">
      <h2 class="panel-title">CPA 波特图</h2>
      <div class="panel-content">
        <div class="placeholder">
          <img src="/img/CPA.png" alt="cmos" style="width: 100%; height: 100%; object-fit: contain;">
        </div>
      </div>
    </div>

    <div class="panel panel-stk">
      <h2 class="panel-title">FPA 波特图</h2>
      <div class="panel-content">
        <div class="placeholder">
          <img src="/img/FPA.png" alt="cmos" style="width: 100%; height: 100%; object-fit: contain;">
        </div>
      </div>
    </div>

    <div class="panel panel-stk">
      <h2 class="panel-title">复合轴X跟踪精度</h2>
      <div class="panel-content">
        <div class="placeholder">
          <img src="/img/ERR_X.png" alt="cmos" style="width: 100%; height: 100%; object-fit: contain;">
        </div>
      </div>
    </div>

    <div class="panel panel-stk">
      <h2 class="panel-title">复合轴Y跟踪精度</h2>
      <div class="panel-content">
        <div class="placeholder">
          <img src="/img/ERR_Y.png" alt="cmos" style="width: 100%; height: 100%; object-fit: contain;">
        </div>
      </div>
    </div>




  </div>
  <div class="secondary-panel-footer">
    <button class="btn-cancel">取消</button>
    <button class="btn-save">确认</button>
  </div>
</div>
